/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styles */
body {
  background-color: #dedede;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #000000;
  line-height: 1.75;
  font-weight: 300;
  padding: 20px;
}

/* Header styles */
header {
  text-align: center;
  margin-bottom: 20px;
}

header nav a {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

header nav a:hover {
  color: white;
  background-color: #6284FF;
}

/* Content Container */
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#Logo {
  max-width: 300px;
  margin: 20px 0;
}

.imgabout {
  width: 50%;
  max-width: 300px;
  margin: 20px 0;
  border-radius: 50%;
}

/* Section Styles */
#whoiam p {
  text-align: justify;
  padding: 20px;
  font-size: 1.2em;
}

/* Footer Styles */
footer {
  text-align: center;
  margin-top: 50px;
}

.footer__copy {
  font-size: 14px;
  color: #000;
  padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .imgabout {
      width: 70%;
      margin: 10px 0;
  }

  #Logo {
      max-width: 500px;
      margin: 10px 0;
  }

  #whoiam p {
      font-size: 1em;
      padding: 10px;
  }

  header nav a {
      font-size: 14px;
      padding: 8px 15px;
  }
}
